
._api.lcdoc
._example
._LICENSE
._OnScreenKeyboard.lcb
._OnScreenKeyboardDarkMode.jpg
._OnScreenKeyboardLiteMode.jpg
._README.md
._samples
._support
example/._.DS_Store
example/._full127_piano.lcb
example/._full127_piano.lcb.zip
example/.DS_Store
samples/._.DS_Store
samples/._demo.oxtstack
samples/.DS_Store
support/._defaultscript.livecodescript
